#gridContainer {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 1px;
    width: 400px;
    height: 400px;
    background-color: #ccc;
}

.gridSquare {
    background-color: white;
    border: 2px solid grey;
}