#gridContainer {
    display: grid;
    gap: 1px;
    width: 960px;
    height: 960px;
    background-color: #ccc;
}

.gridSquare {
    background-color: white;
    border: 2px solid grey;
}

button {
    margin: 20px;
}